/************************** RESET **************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/************************** COMMON **************************/
body {
    background: linear-gradient(
        to bottom, 
        #009688 0%, 
        #009688 15%, 
        #d5ddd7 15%,
        #d6ddd5 40%,
        #f2f4f1 60%,
        #e6e9dd 100%
    );
    font-family: 'Ubuntu', sans-serif;
}
#root {
    display: flex;
    height: 100vh;
}
.wrapper {
    display: flex;
    margin: auto;
    height: 95vh;
    width: 1200px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}

.active {
    background-color: #E9EBEB;
}

.message {
    display: flex;
    align-items: center;
    position: relative;
    width: 250px;
    margin-bottom: 10px;
    padding: 20px 10px;
    font-size: .8em;
    border-radius: 10px; 
}

.message-date {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: .6em;
    color: #B1B1B1;
}
.sent {
    align-self: flex-end;
    background-color: #D5F9BA;
}
.received {
    background-color: #FFFFFF;
}

i {
    transition: transform .5s ease-in-out;
    cursor: pointer;
}
i:hover {
    transform: scale(1.2);
}

.w-10 {
    width: 10%;
}

/* colors */
.grey {
    color: #7d7d7d;
}
.light-g {
    color: #B1B1B1;
}
/************************** CONTACT NAVIGATION **************************/
#contact-nav {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
}

/* user */
.user {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #EAEAEA;
}

.user-name {
    display: flex;
    align-items: center;
    width: 80%;
}
.user-name img {
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.user-name h1 {
    font-size: .8em;
}

.icons {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-between;
}

/* notification bell */
.note {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #8EDAFC;
}

.bell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #fff;
}
.bell i {
    font-size: 1.3em;
    color: #8EDAFC;
}

.desktop-note h3 {
    font-size: .9em;
}
.desktop-note a {
    font-size: .7em;
    transition: color .5s ease-in-out;
}
.desktop-note a:hover {
    color: #06a2ea;
}

/* find-chat input */
.find-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #FAFAFA;
}

.find-chat .search {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
}
.find-chat input {
    padding: 10px 5px;
    flex-grow: 2;
    border: none;
    border-radius: 5px;
}

/* on screen contacts */
.contacts {
    height: calc(100% - 165px);
    overflow-y: scroll;
    background-color: #fff;
}
.contact {
    display: flex;
    position: relative;
    padding: 10px 15px;
    transition: background-color .5s ease-in-out;
    cursor: pointer;
}
.contact:hover {
    background-color: #f4f0f0fa;
}
.contact:not(:first-child) {
    border-top: 1px solid #B1B1B1;
}

.contact-avatar img {
    height: 50px;
    border-radius: 50%;
}

.contact-data {
    padding: 0 10px;
}
.contact-data p,
.time p {
    font-size: .7em;
}

.time {
    position: absolute;
    right: 5px;
    top: 10px;
}

/************************** CHAT **************************/
#chat {
    display: flex;
    flex-direction: column;
    width: 65%;
}

/* active chat */
.active-chat {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px;
    border-left: 0.5px solid #B1B1B1;
    background-color: #EAEAEA;
}
.interlocutor-container {
    display: flex;
    align-items: center;
    width: 85%;
}
.interlocutor-img{
    display: flex;
}
.interlocutor-img img {
    height: 40px;
    border-radius: 50%;
}
.interlocutor-data {
    margin-left: 10px;
}
.interlocutor-data h4 {
    font-size: .9em;
}
.interlocutor-data p {
    font-size: .6em;
}

.actions {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 15%;
}

/* chat box */
.chat-box {
    display: flex;
    flex-direction: column;
    height: calc(100% - 105px);
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
}

.messages {
    flex-direction: column;
    display: flex;
}
/* message-field */
.message-field {
    display: flex;
    padding: 10px 0;
    border-left: 0.5px solid #B1B1B1;
    background-color: #F3EEEA;
}

.text {
    width: 80%;
}

.text,
.emoticons,
.vocal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}