/************************** RESET **************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/************************** COMMON **************************/
body {
    background: linear-gradient(
        to bottom, 
        #009688 0%, 
        #009688 15%, 
        #d5ddd7 15%,
        #d6ddd5 40%,
        #f2f4f1 60%,
        #e6e9dd 100%
    );
    font-family: 'Ubuntu', sans-serif;
}

#root {
    display: flex;
    height: 100vh;
}
.wrapper {
    display: flex;
    margin: auto;
    height: 95vh;
    width: 1200px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}

.active {
    background-color: #E9EBEB;
}
.darkmode {
    background-color: #191919;
    color: #fff;
}
#darkmode {
    background-color: #191919;
    color: #fff;
}
#darkmode:hover {
    background-color: #E9EBEB;
    color: #191919;
}
.bg-light {
    background-color: #FAFAFA;
}

.message {
    display: flex;
    align-items: center;
    position: relative;
    width: 250px;
    margin-bottom: 10px;
    padding: 20px 10px;
    font-size: .8em;
    border-radius: 10px; 
}
.message i {
    display: none;
    align-self: flex-end;
    position: absolute;
    right: 5px;
    color: #7d7d7d;
    cursor: pointer;
}
.message:hover i {
    display: inline-block;
}

.dropdown-size {
    position: absolute;
    right: 0;
    top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #fff;
    z-index: 10;
}
.dropdown-size a {
    text-decoration: none;
    font-size: .8em;
    display: block;
    padding: 10px;
    transition: all .3s ease-in-out;
    color: #7d7d7d;
    
}
.dropdown-size a:hover {
    color: hsl(0, 51%, 49%);
    background-color: #B1B1B1;
}

.message-date {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: .6em;
    color: #B1B1B1;
}
.sent {
    align-self: flex-end;
    background-color: #D5F9BA;
}
.received {
    background-color: #FFFFFF;
}

input:focus {
    box-shadow: 0 0 5px #D5F9BA;
}

i {
    transition: transform .5s ease-in-out;
    cursor: pointer;
}
i:hover {
    transform: scale(1.2);
}

.w-10 {
    width: 10%;
}



/* colors */
.grey {
    color: #7d7d7d;
}
.light-g {
    color: #B1B1B1;
}
/************************** CONTACT NAVIGATION **************************/
#contact-nav {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
}

/* user */
.user {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.user-name {
    display: flex;
    align-items: center;
    width: 70%;
}
.user-name img {
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.user-name h1 {
    font-size: .8em;
}

.icons {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}
.darktoggle {
    font-size: .7em;
    transition: transform .5s ease-in-out;
    cursor: pointer;
}
.darktoggle:hover {
    transform: scale(1.2);
}
/* notification bell */
.note,
.dark-note {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.note {
    background-color: #8EDAFC;
}
.dark-note {
    background-color: #515558;
}
.dark-bell {
    font-size: 1.3em;
    color: #515558;
}
.bell,
.dark-bell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #fff;
}
.bell i {
    font-size: 1.3em;
    color: #8EDAFC;
}
.desktop-note-dark {
    color: #fff;
}
.desktop-note h3,
.desktop-note-dark h3 {
    font-size: .9em;
}
.desktop-note a,
.desktop-note-dark a {
    font-size: .7em;
    transition: color .5s ease-in-out;
}
.desktop-note-dark a {
    color: #191919;
}
.desktop-note a:hover {
    color: #06a2ea;
}
.desktop-note-dark a:hover {
    color: #fff;
}

/* find-chat input */
.find-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.find-chat .search {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
}
.find-chat input {
    padding: 10px;
    flex-grow: 2;
    border: none;
    border-radius: 5px;
    outline: none;
}

/* on screen contacts */
.contacts,
.contacts-dark {
    height: calc(100% - 165px);
    overflow-y: scroll;
}
.contacts {
    background-color: #fff;
}
.contacts-dark {
    background-color: #515558;
}
.contact {
    display: flex;
    position: relative;
    padding: 10px 15px;
    transition: background-color .5s ease-in-out;
    cursor: pointer;
}
.contact:hover {
    background-color: #f4f0f0fa;
}
.contact:not(:first-child) {
    border-top: 1px solid #B1B1B1;
}

.contact-avatar img {
    height: 50px;
    border-radius: 50%;
}

.contact-data {
    padding: 0 10px;
}
.contact-data p,
.time p {
    font-size: .7em;
}

.time {
    position: absolute;
    right: 5px;
    top: 10px;
}

/************************** CHAT **************************/
#chat {
    display: flex;
    flex-direction: column;
    width: 65%;
}

/* active chat */
.active-chat {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px;
    border-left: 0.5px solid #B1B1B1;
}
.interlocutor-container {
    display: flex;
    align-items: center;
    width: 85%;
}
.interlocutor-img{
    display: flex;
}
.interlocutor-img img {
    height: 40px;
    border-radius: 50%;
}
.interlocutor-data {
    margin-left: 10px;
}
.interlocutor-data h4 {
    font-size: .9em;
}
.interlocutor-data p {
    font-size: .6em;
}

.actions {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 15%;
}

/* chat box */
.chat-box,
.dark-chat {
    display: flex;
    flex-direction: column;
    height: calc(100% - 105px);
    overflow-y: auto;
}
.chat-box {
    background-image: url(../img/mine.jpg);
}
.dark-chat {
    background-image: url(../img/darkbg.jpg);
    background-size: contain;
}

#messages {
    flex-direction: column;
    display: flex;
}
/* message-field */
.message-field {
    display: flex;
    padding: 10px 0;
    border-left: 0.5px solid #B1B1B1;
}
.message-field i {
    font-size: 1.2em;
}
.text {
    width: 80%;
}

.text,
.emoticons,
.vocal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.no_display {
    display: none;
}

