<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
            integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"
            integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <title>Boolzapp</title>
    </head>

    <body>
        <div id="root">
            <!-- wrapper -->
            <div class="wrapper">
                <!-- contact navigation -->
                <aside id="contact-nav">
                    <!-- user -->
                    <div class="user" :class="(darkMode == false) ? 'bg-light' : 'darkmode'">
                        <div class="user-name">
                            <img src="img/avatar_8.jpg" alt="Utente">
                            <h1>Roberto Zeppilli</h1>
                        </div>
                        <div class="icons light-g">
                            <span @click="toggleDarkMode" class="darktoggle">
                                {{ toggleIcon }}
                                <i class="fas fa-circle-notch"></i>
                            </span>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- /user -->

                    <!-- notification bell -->
                    <div :class="(darkMode == false) ? 'note' : 'dark-note'">
                        <div :class="(darkMode == false) ? 'bell' : 'dark-bell'">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div :class="(darkMode == false) ? 'desktop-note' : 'desktop-note-dark'">
                            <h3>Ricevi notifiche di nuovi messaggi</h3>
                            <a class="grey" href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- /notification bell -->

                    <!-- find chat -->
                    <div class="find-chat" :class="(darkMode == false) ? 'bg-light' : 'darkmode'">
                        <label for="search" class="search light-g" @change="searchContact">
                            <i class="fas fa-search"></i>
                        </label>
                        <input type="text" name="search" v-model="newSearch" placeholder="Cerca o inizia una nuova chat"
                            @change="searchContact">
                    </div>
                    <!-- /find chat -->

                    <!-- contacts -->
                    <div :class="(darkMode == false) ? 'contacts' : 'contacts-dark'">
                        <div v-for="(contact,index) in contacts" class="contact"
                            :class="{'active' : index == contactIndex, 'no_display' : contact.visible == false}"
                            :id="(darkMode == false) ? '' : 'darkmode'" @click="getContact(index)">
                            <div class="contact-avatar">
                                <img :src="getAvatar(index)" :alt="getAlt(index)">
                            </div>
                            <div class="contact-data">
                                <h4>{{ contact.name }}</h4>
                                <p class="light-g">{{ getLastMessage(contact, index) }}</p>
                            </div>
                            <div class="time">
                                <p class="light-g">{{ getLastDate(index) }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- /contacts -->
                </aside>
                <!-- /contact navigation -->

                <!-- chat -->
                <section id="chat" v-for="(contact,index) in contacts" v-if="(contactIndex == index)">
                    <!-- active chat -->
                    <div class="active-chat" :class="(darkMode == false) ? 'bg-light' : 'darkmode'">
                        <div class="interlocutor-container">
                            <div class="interlocutor-img">
                                <img :src="getAvatar(index)" :alt="getAlt(index)">
                            </div>
                            <div class="interlocutor-data">
                                <h4>{{ contact.name }}</h4>
                                <p class="light-g">{{ getAccessDate(contactIndex) }}</p>
                            </div>
                        </div>
                        <div class="actions light-g">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- /active chat -->

                    <!-- chat box -->
                    <div :class="(darkMode == false) ? 'chat-box' : 'dark-chat'">
                        <div class="container">
                            <div id="messages" v-for="message,index in contacts[contactIndex].messages">
                                <p class="message" :class="message.status">
                                    {{ message.text }}
                                    <i class="fas fa-chevron-down" @click="dropdownToggle(index)">
                                    </i>
                                    <span class="dropdown-size" v-show="dropdown == true && messageIndex == index">
                                        <a href="#" @click="removeMessage(messageIndex)">Delete Message</a>
                                    </span>
                                    <span class="message-date">{{ message.date }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /chat box -->

                    <!-- message field -->
                    <div class="message-field" :class="(darkMode == false) ? 'bg-light' : 'darkmode'">
                        <div class="emoticons w-10">
                            <i class="far fa-smile grey"></i>
                        </div>
                        <div class="text">
                            <input v-model="newMessage" @keydown.enter="sendMessage(contact)" type="text"
                                placeholder="scrivi un messaggio">
                        </div>
                        <div class="vocal w-10">
                            <i class="fas fa-microphone grey"></i>
                        </div>
                    </div>
                    <!-- /message field -->
                </section>
                <!-- /chat -->
            </div>
            <!-- /wrapper -->
        </div>
        <script src="js/script.js"></script>
    </body>

</html>